# Backup files produced by editors.
*~

# Files created by IDEs.
.*/
samoyed.*

# Files produced by autotools.

# Object files, archives, shared libraries and programs produced by compilers.
*.o
*.a
*.so
*.so.*
src/application/samoyed

# Unit test builds.
src/application/ui/splash-screen
src/application/utilities/buffer
src/application/utilities/manager
src/application/utilities/range
src/application/utilities/revision
src/application/utilities/signal
src/application/utilities/text-buffer
src/application/utilities/utf8
src/application/utilities/worker
