*~
*.[ao]
.*/
samoyed.*
src/application/utilities/buffer
src/application/utilities/manager
src/application/utilities/range
src/application/utilities/revision
src/application/utilities/signal
src/application/utilities/text-buffer
src/application/utilities/utf8
src/application/utilities/worker
src/application/ui/splash-screen
