<plugin>
  <id>terminal</id>
  <name>Terminal</name>
  <description>This plugin integrates a terminal emulator.</description>
  <module>terminal</module>
  <extension>
    <id>view</id>
    <point>views</point>
    <category>tool</category>
    <index>10</index>
    <view>
      <title>_Terminal</title>
    </view>
    <menu-item>
      <title>_Terminal</title>
    </menu-item>
  </extension>
</plugin>
